@model printSmart.Models.Servicio

@{
    ViewData["Title"] = "Editar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
<h1>Editar Servicio</h1>
<hr />
<div class="row">
    <div>
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-row">
                <div class="form-group col-md-5">
                    <label asp-for="Nombre" class="control-label"></label>
                    <input asp-for="Nombre" class="form-control" />
                    <span asp-validation-for="Nombre" class="text-danger"></span>
                </div>
                <div class="form-group col-md-5">
                    <label asp-for="Fecha" class="control-label"></label>
                    <input asp-for="Fecha" class="form-control" />
                    <span asp-validation-for="Fecha" class="text-danger"></span>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-5">
                    <label asp-for="IdTipoServ" class="control-label"></label>
                    <select asp-for="IdTipoServ" class="form-control" asp-items="ViewBag.IdTipoServ"></select>
                    <span asp-validation-for="IdTipoServ" class="text-danger"></span>
                </div>
                <div class="form-group col-md-5">
                    <label asp-for="IdCliente" class="control-label"></label>
                    <select asp-for="IdCliente" class="form-control" asp-items="ViewBag.IdCliente"></select>
                    <span asp-validation-for="IdCliente" class="text-danger"></span>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-5">
                    <label asp-for="IdEmpleado" class="control-label"></label>
                    <select asp-for="IdEmpleado" class="form-control" asp-items="ViewBag.IdEmpleado"></select>
                    <span asp-validation-for="IdEmpleado" class="text-danger"></span>
                </div>
                <div class="form-group col-md-5">
                    <label asp-for="Descripcion" class="control-label"></label>
                    <input asp-for="Descripcion" class="form-control" />
                    <span asp-validation-for="Descripcion" class="text-danger"></span>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-5">
                    <label asp-for="Viatico" class="control-label"></label>
                    <input asp-for="Viatico" class="form-control" />
                    <span asp-validation-for="Viatico" class="text-danger"></span>
                </div>
                <div class="form-check">
                    <input class="form-check-input" asp-for="Estado" /> 
                    <label class="form-check-label" asp-for="Estado"></label>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-5">
                    <input type="submit" value="Actualizar" class="btn btn-primary" />
                </div>
                <div class="form-group col-md-5">
                    <a asp-action="Index" class="btn btn-warning"><i class="fa fa-angle-left"></i>Regresar</a>
                </div>
            </div>
        </form>
    </div>
</div>
</div>

