@model printSmart.Models.Collectioncc

@{
    ViewData["Title"] = "Editar Cobro";
}

<div id="">
    <main>
        <div class="container-fluid px-4">
            <h2 class="mt-4">Editar Cobro</h2>
            <hr />
                       
            <!-- FORMULARIO-->
            <div class="card mb-4">
                <div class="card-body">
                    <form asp-action="Edit">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <input type="hidden" asp-for="Id" />

                        <div class="form-group" >
                            <div class="form-group col-md-6">
                                <label asp-for="Date" class="control-label"></label>
                                <input asp-for="Date" class="form-control" />
                                <span asp-validation-for="Date" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="form-group col-md-6">
                                 <label asp-for="Amount" class="control-label"></label>
                                 <input asp-for="Amount" class="form-control" />
                                 <span asp-validation-for="Amount" class="text-danger"></span>
                            </div>
                            <div class="form-group col-md-6">
                                 <label asp-for="Description" class="control-label"></label>
                                 <input asp-for="Description" class="form-control" />
                                 <span asp-validation-for="Description" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="form-group col-md-6">
                                 <label asp-for="IdCostumer" class="control-label"></label>
                                 <select asp-for="IdCostumer" class="form-control" asp-items="ViewBag.IdCostumer"></select>
                                 <span asp-validation-for="IdCostumer" class="text-danger"></span>
                            </div>
                        </div>

                       

                        <div class="form-group">

                            <input type="submit" value="Guardar" class="btn btn-primary btn-sm text-capitalize"/>
                            <a asp-action="Index" class="btn btn-secondary btn-sm text-capitalize">Regresar</a>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </main>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
