@{
    ViewData["Title"] = "Inicio";
}
<div class="container-fluid">
<div class="text-center">
    <h1 class="display-4">Bienvenido</h1>
    <h2>SmartPrint</h2>
    <p>
        Vision y proposito de la empresa
    </p>
    
    <img src="~/assets/img/logo.jpeg"/>
    <br />
</div>
<div class="row mt-4">
    <div class="col-xl-3 col-md-6">
        <div class="card bg-primary text-white mb-4">
            <div class="card-body text-center"><i class="fa glyphicon-th-large"></i>Modulos Servicios</div>
            <a class="text-white" asp-area="" asp-controller="Servicios" asp-action="Index">
            <div class="card-footer d-flex align-items-center justify-content-center">
                <div class="small align-items-center justify-content-center">
                    <div class="small text-center"> <i class="fas fa-chevron-down"></i></div>
                </div>
            </div>
            </a>
        </div>
    </div>
    <div class="col-xl-3 col-md-6">
        <div class="card bg-warning text-white mb-4">
             <div class="card-body text-center"><i class="fa glyphicon-th-large"></i>Modulos Reportes</div>
            <a class="text-white" asp-area="" asp-controller="Reportes" asp-action="Index">
            <div class="card-footer d-flex align-items-center justify-content-center">
                <div class="small align-items-center justify-content-center">
                    <div class="small text-center"> <i class="fas fa-chevron-down"></i></div>
                </div>
            </div>
            </a>
        </div>
    </div>
    <div class="col-xl-3 col-md-6">
        <div class="card bg-success text-white mb-4">
             <div class="card-body text-center"><i class="fa glyphicon-th-large"></i>Modulos Inventario</div>
            <a class="text-white" asp-area="" asp-controller="Suministroes" asp-action="Index">
            <div class="card-footer d-flex align-items-center justify-content-center">
                <div class="small align-items-center justify-content-center">
                    <div class="small text-center"> <i class="fas fa-chevron-down"></i></div>
                </div>
            </div>
            </a>
        </div>
    </div>
    <div class="col-xl-3 col-md-6">
        <div class="card bg-danger text-white mb-4">
            <div class="card-body text-center"><i class="fa glyphicon-th-large"></i>Modulos Clientes</div>
            <a class="text-white" asp-area="" asp-controller="Costumers" asp-action="Index">
            <div class="card-footer d-flex align-items-center justify-content-center">
                <div class="small align-items-center justify-content-center">
                    <div class="small text-center"> <i class="fas fa-chevron-down"></i></div>
                </div>
            </div>
            </a>
        </div>
    </div>
</div>
</div>